In [16]:
# import packages
import pandas as pd
from pymongo import MongoClient

In [17]:
# set up client
client = MongoClient('mongodb://cradduhj:fsbbigdata@mongodb.fsb.miamioh.edu:27017', authSource="admin")

# input username
db = client['cradduhj']

# specify collection
SPOTIFY = db.SPOTIFY

In [2]:
# read in the first dataset from Kaggle and change naming conventions
kaggle_dataset_1 = pd.read_csv("Kaggle_data/kaggle_dataset_1.csv")
kaggle_dataset_1['track_id'] = kaggle_dataset_1['Uri'].str.split(':').str[2]
kaggle_dataset_1['title'] = kaggle_dataset_1['Track']
kaggle_dataset_1['artist'] = kaggle_dataset_1['Artist']
# kaggle_dataset_1.head(5)
# kaggle_dataset_1.shape
# kaggle_dataset_1.columns

In [3]:
# read in the second dataset from Kaggle and change naming conventions
kaggle_dataset_2 = pd.read_csv("Kaggle_data/kaggle_dataset_2.csv")
kaggle_dataset_2['title'] = kaggle_dataset_2['track_name']
kaggle_dataset_2['artist'] = kaggle_dataset_2['artists']
# kaggle_dataset_2.head(5)
# kaggle_dataset_2.shape
# kaggle_dataset_2.columns

In [4]:
# read in the third dataset from Kaggle and change naming conventions
kaggle_dataset_3 = pd.read_csv("Kaggle_data/kaggle_dataset_3.csv")
kaggle_dataset_3['title'] = kaggle_dataset_3['track_name']
kaggle_dataset_3['artist'] = kaggle_dataset_3['artist_name']
# kaggle_dataset_3.head(5)
# kaggle_dataset_3.shape
# kaggle_dataset_3.columns

In [5]:
# read in the fourth dataset from Kaggle and change naming conventions
kaggle_dataset_4 = pd.read_csv("Kaggle_data/kaggle_dataset_4.csv")
kaggle_dataset_4['title'] = kaggle_dataset_4['track_name']
kaggle_dataset_4['artist'] = kaggle_dataset_4['artist_name']
# kaggle_dataset_4.head(5)
# kaggle_dataset_4.shape
# kaggle_dataset_4.columns

In [6]:
# read in the fifth dataset from Kaggle and change naming conventions
kaggle_dataset_5 = pd.read_csv("Kaggle_data/kaggle_dataset_5.csv")
kaggle_dataset_5['title'] = kaggle_dataset_5['track_name']
kaggle_dataset_5['artist'] = kaggle_dataset_5['artist_names']
kaggle_dataset_5['track_id'] = kaggle_dataset_5['id']
# kaggle_dataset_5.head(5)
# kaggle_dataset_5.shape
# kaggle_dataset_5.columns

In [7]:
# read in the sixthdataset from Kaggle and change naming conventions
kaggle_dataset_6 = pd.read_csv("Kaggle_data/kaggle_dataset_6.csv")
kaggle_dataset_6['track_id'] = kaggle_dataset_6['id']
kaggle_dataset_6['title'] = kaggle_dataset_6['name']
kaggle_dataset_6['artist'] = kaggle_dataset_6['artists'].str.replace(r"[\[\]']", "", regex=True)
# kaggle_dataset_6.head(5)
# kaggle_dataset_6.shape
# kaggle_dataset_6.columns

In [8]:
# read in all songs csv data file with Spotify track ids
track_records = pd.read_csv("track_records.csv")
track_records['title'] = track_records['track_name']
track_records['artist'] = track_records['artist_name']
# track_records.head(5)
# track_records.shape

In [9]:
# function to merge datasets
def merge_feature_datasets(main_df, feature_dfs, merge_keys):

    merged_df = main_df.copy()
    
    # standardize merge keys
    for key in merge_keys:
        merged_df[key] = merged_df[key].astype(str).str.lower().str.strip()
    
    for df in feature_dfs:
        # drop duplicates on merge keys to prevent duplicate rows
        df = df.drop_duplicates(subset=merge_keys).copy()
        
        # standardize merge keys
        for key in merge_keys:
            df[key] = df[key].astype(str).str.lower().str.strip()
        
        # add only columns new columns
        cols_to_add = [c for c in df.columns if c not in merged_df.columns or c in merge_keys]
        df_subset = df[cols_to_add]
        
        # merge dataframes with main
        merged_df = pd.merge(
            merged_df,
            df_subset,
            on=merge_keys,
            how='left'
        )
    
    return merged_df

In [10]:
# list of Kaggle datasets for merging
feature_dfs = [kaggle_dataset_3, kaggle_dataset_4, kaggle_dataset_2, kaggle_dataset_5, kaggle_dataset_1, kaggle_dataset_6]

# merge Kaggle datsets into main dataframe on track_id
merged_by_id = merge_feature_datasets(track_records, feature_dfs, merge_keys=['track_id'])

# identify rows with missing features after track_id merge
missing_rows = merged_by_id[merged_by_id.isna().any(axis=1)].copy()

# merge Kaggle datsets on missing rows of main dataframe on title and artist
merged_by_title_artist = merge_feature_datasets(
    missing_rows,
    feature_dfs,
    merge_keys=['title', 'artist']
)

# replace the missing rows in the original merged dataframe
merged_final = merged_by_id.copy()
merged_final.update(merged_by_title_artist)

print(merged_final.shape)
print(merged_final.isna().sum())
print(merged_final.columns)
merged_final.head(10)

(16563, 65)
track_name          0
artist_name         0
track_id            0
title               0
artist              0
                ...
artist_ids      11604
track_number    11604
disc_number     11604
year            11604
release_date    11604
Length: 65, dtype: int64
Index(['track_name', 'artist_name', 'track_id', 'title', 'artist',
       'acousticness', 'danceability', 'duration_ms', 'energy',
       'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
       'speechiness', 'tempo', 'time_signature', 'valence', 'popularity',
       'index', 'artists', 'album_name', 'explicit', 'track_genre', 'id',
       'artist_names', 'source', 'weeks_on_chart', 'streams', 'Unnamed: 0',
       'Artist', 'Url_spotify', 'Track', 'Album', 'Album_type', 'Uri',
       'Danceability', 'Energy', 'Key', 'Loudness', 'Speechiness',
       'Acousticness', 'Instrumentalness', 'Liveness', 'Valence', 'Tempo',
       'Duration_ms', 'Url_youtube', 'Title', 'Channel', 'Views', 'Likes',
       'Comments', 'Description', 'Licensed', 'official_video', 'Stream',
       'name', 'album', 'album_id', 'artist_ids', 'track_number',
       'disc_number', 'year', 'release_date'],
      dtype='object')

,track_name,artist_name,track_id,title,artist,acousticness,danceability,duration_ms,energy,instrumentalness,...,official_video,Stream,name,album,album_id,artist_ids,track_number,disc_number,year,release_date
0,Nobody's Supposed To Be Here,Deborah Cox,51qxenfmxljxun9mpvxlal,nobody's supposed to be here,deborah cox,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Nobody's Supposed to Be Here,One Wish,16FPcGpqQfcvqpCLvZsWWD,['601893mmW5hl1FBOykWZHG'],3.0,1.0,1998.0,1998-09-17
1,Lately,Divine,0cv9wheizhukzao0kxorga,lately,divine,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,...Baby One More Time,Britney Spears,3mjutnvvq3c8fn0mp3zhxa,...baby one more time,britney spears,NaN,NaN,NaN,NaN,NaN,...,True,588819207.0,...Baby One More Time,...Baby One More Time (Digital Deluxe Version),3WNxdumkSMGMJRhEgK80qx,['26dSoYclwsYLMAKD3tpOr4'],1.0,1.0,1999.0,1999-01-12
3,Because Of You,98 Degrees,4ncw4ydsgugspaxmzncmtn,because of you,98 degrees,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,From This Moment On,Shania Twain,6rsdkvbgiakmwwudkr57ip,from this moment on,shania twain,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Doo Wop (That Thing),Lauryn Hill,0uep9e98jb5awla084uaig,doo wop (that thing),lauryn hill,NaN,NaN,NaN,NaN,NaN,...,True,327451076.0,Doo Wop (That Thing),The Miseducation of Lauryn Hill,1BZoqf8Zje5nGdwZhOjAtD,['2Mu5NfyYm8n5iTomuKAEHl'],5.0,1.0,1998.0,1998-08-25
6,Trippin',Total,5qfobfsczuypnczxhkgs9r,trippin',total,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Have You Ever?,Brandy,6tbd4yjof9p8rwwulxdjfm,have you ever?,brandy,NaN,NaN,NaN,NaN,NaN,...,True,47298972.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Love Like This,Faith Evans,7mqywxgheev7jmwwizmcao,love like this,faith evans,NaN,NaN,NaN,NaN,NaN,...,True,91233443.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Goodbye,Spice Girls,2sprhtak2lup5vxbu0h9uj,goodbye,spice girls,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# account for different naming conventions
combine_columns = [
    ('track_name', 'Track'),
    ('artist_name', 'Artist'),
    ('album_name', 'Album'),
    ('acousticness', 'Acousticness'),
    ('danceability', 'Danceability'),
    ('energy', 'Energy'),
    ('instrumentalness', 'Instrumentalness'),
    ('key', 'Key'),
    ('liveness', 'Liveness'),
    ('loudness', 'Loudness'),
    ('mode', 'Mode'),
    ('speechiness', 'Speechiness'),
    ('tempo', 'Tempo'),
    ('time_signature', 'Time_signature'),
    ('valence', 'Valence'),
    ('duration_ms', 'Duration_ms'),
    ('popularity', 'Popularity')
]

for col_main, col_alt in combine_columns:
    if col_alt in merged_final.columns:
        merged_final[col_main] = merged_final[col_main].combine_first(merged_final[col_alt])
        merged_final.drop(columns=[col_alt], inplace=True)

In [12]:
# list of columns to drop
cols_to_drop = [
       'time_signature', 'explicit', 'index', 'artists', 'album_name',
       'track_genre', 'id', 'artist_names', 'source', 'weeks_on_chart',
       'streams', 'Unnamed: 0', 'Url_spotify', 'Album_type', 'Uri',
       'Url_youtube', 'Title', 'Channel', 'Views', 'Likes', 'Comments',
       'Description', 'Licensed', 'official_video', 'Stream', 'name', 'album',
       'album_id', 'artist_ids', 'track_number', 'disc_number', 'year',
       'release_date', 'track_name', 'artist_name'
]

# drop unwanted columns
merged_final.drop(columns=cols_to_drop, inplace=True)

In [13]:
print(merged_final.columns)
print(merged_final.shape)
print(merged_final.isna().sum())
merged_final.head()

Index(['track_id', 'title', 'artist', 'acousticness', 'danceability',
       'duration_ms', 'energy', 'instrumentalness', 'key', 'liveness',
       'loudness', 'mode', 'speechiness', 'tempo', 'valence', 'popularity'],
      dtype='object')
(16563, 16)
track_id                0
title                   0
artist                  0
acousticness         9985
danceability         9985
duration_ms          9985
energy               9985
instrumentalness     9985
key                  9985
liveness             9985
loudness             9985
mode                15764
speechiness          9985
tempo                9985
valence              9985
popularity          15764
dtype: int64

,track_id,title,artist,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,valence,popularity
0,51qxenfmxljxun9mpvxlal,nobody's supposed to be here,deborah cox,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0cv9wheizhukzao0kxorga,lately,divine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3mjutnvvq3c8fn0mp3zhxa,...baby one more time,britney spears,0.202,0.759,211067.0,0.699,0.000131,0.0,0.443,-5.745,NaN,0.0307,92.96,0.907,NaN
3,4ncw4ydsgugspaxmzncmtn,because of you,98 degrees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6rsdkvbgiakmwwudkr57ip,from this moment on,shania twain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# drop columns with extreme missingness
merged_final = merged_final.drop(columns=['popularity', 'mode'])
merged_final_clean = merged_final.dropna()
print(merged_final_clean.shape)
merged_final_clean.head(100)

(6578, 14)

,track_id,title,artist,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,speechiness,tempo,valence
2,3mjutnvvq3c8fn0mp3zhxa,...baby one more time,britney spears,0.20200,0.759,211067.0,0.699,0.000131,0.0,0.4430,-5.745,0.0307,92.960,0.907
5,0uep9e98jb5awla084uaig,doo wop (that thing),lauryn hill,0.03930,0.535,320267.0,0.505,0.000000,2.0,0.0923,-8.926,0.2450,99.935,0.495
7,6tbd4yjof9p8rwwulxdjfm,have you ever?,brandy,0.54200,0.698,273440.0,0.533,0.000000,2.0,0.3330,-6.246,0.0437,134.001,0.275
8,7mqywxgheev7jmwwizmcao,love like this,faith evans,0.00364,0.767,275707.0,0.551,0.000000,0.0,0.0451,-7.328,0.0616,100.904,0.796
12,5eywgm3ns3iyew8ws0fatb,this kiss,faith hill,0.17500,0.398,194307.0,0.804,0.000000,11.0,0.1810,-5.559,0.0451,186.752,0.709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,6sbxgun9v9zalwldofpkre,larger than life,backstreet boys,0.11000,0.661,232827.0,0.973,0.000017,0.0,0.6170,-2.994,0.0370,108.037,0.750
308,5q186azhweoeofnapajhgr,bling bling,bg,0.04730,0.864,307827.0,0.641,0.000000,6.0,0.5840,-2.988,0.2790,93.526,0.678
309,7gfytg8skesumttncqcxx7,i want it all,warren g,0.04730,0.864,307827.0,0.641,0.000000,6.0,0.5840,-2.988,0.2790,93.526,0.678
319,2zs8fkqasnhaipqeph95jb,the chemicals between us,bush,0.08630,0.675,239933.0,0.553,0.000008,7.0,0.1180,-7.775,0.0486,90.020,0.594
320,4ocbh5zjqajzipurqruoue,meet virginia,train,0.08630,0.675,239933.0,0.553,0.000008,7.0,0.1180,-7.775,0.0486,90.020,0.594

In [15]:
# save final dataframe to csv
merged_final_clean.to_csv("6578_songs_clean_spotify.csv", index=False)

In [18]:
# read in all songs with lyrics csv data
csv_file = "6578_songs_clean_spotify.csv"
df = pd.read_csv(csv_file)

# convert to list of dictionaries
data_dict = df.to_dict(orient='records')

# insert list of dictionaries into MongoDB
if data_dict:
    result = SPOTIFY.insert_many(data_dict)
    print(f"Inserted {len(result.inserted_ids)} records into SPOTIFY collection")
else:
    print("No data to insert")

Inserted 6578 records into SPOTIFY collection